*.pyc
**/__pycache__/
*.pyo
*.pyd
*.env
.env/
.venv/
venv/
build/
dist/
.eggs/
*.egg-info/
*.egg
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.cover
.coverage
htmlcov/
*.db
*.bak
*.swp
*.swo

# i2c_sensors/__pycache__/*
