{
  "UDP_Addr": "128.117.78.35",
  "UDP_Port": 9999,
  "Read_Interval": 1.0,
  "ADC128D818_I2C": {
    "bus": 1,
    "address": 29,
    "freq_hz": 100000.0
  },
  "ADC128D818_config": {
    "start": false,
    "continuous": false,
    "disable_mask": 0,
    "mode": 0,
    "extResistorMultipliers": [
      2.7,
      2.7,
      2.7,
      5.0,
      5.0,
      5.0,
      2.0,
      100.0
    ]
  },
  "INA260_I2C": {
    "bus": 1,
    "address": 64,
    "freq_hz": 100000.0
  },
  "INA260_config": {
    "config_reg": 807
  },
  "FTDI_URL":"ftdi://ftdi::P03UM9NA/1"
}